
.global-shoppingg-com-webversion-main-sectionx {
    margin-top: 14px;
}
.global-shoppingg-wexv-dot-main-sec-bboxx-web-version {
    background: #ffffff;
    border-radius: 7px;
    padding: 9px;
}
.global-shoppingg-wexv-dot-main-sec-bboxx-web-version a {
    text-decoration: none;
}
.global-shoppingg-wexv-dot-main-sec-bboxx-web-version:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: .2s;
}
/* hhhh */
.global-shopping-dott-ccm-dealmmnnff-bb-web-verrsn p {
    font-size: 16px;
    font-weight: 500;
    color: #5D616D;
}
.global-shopping-dott-ccm-dealmmnnff-bb-web-verrsn p {
    position: relative;
    margin-left: 7px;
}
.global-shopping-dott-ccm-dealmmnnff-bb-web-verrsn {
    margin-bottom: -15px !important;
}
.global-shopping-dott-ccm-dealmmnnff-bb-web-verrsn p span img {
    width: 40px;
}
/* hhhh */

.row.global-shopping-ww-com-delproj-rww-webb-versnn .col-md-2 {
    padding: 2px;
}
.row.global-shopping-ww-com-delproj-rww-webb-versnn {
    margin: 0;
    margin-top: -10px;
    padding: 4px;
}


.global-shoppingg-wexv-dot-main-sec-bboxx-small-box {
    background-color: #FFE4FD;
    padding: 8px;
    border-radius: 8px;
}
.global-shoppingg-wexv-dot-main-sec-bboxx-small-box.exxxtrrax-box-color {
    background-color: #DCF7FF;
}
.global-shoppingg-wexv-dot-main-sec-bboxx-small-box {
    height: 150px;
}
.global-shoppingg-wexv-dot-main-sec-bboxx-small-box:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    transition: .2s;
}
.global-shopping-topp-small-box-hed-txt h4 {
    font-size: 13px;
    color: #5D616D;
    font-weight: 600;
    margin-left: 13px;
}
.col-md-4.exx-paddng-only-colmm {
    padding: 2px;
}
.gloobal-shopping-item-web-single-item-img img {
    width: 89%;
    height: 112px;
    border-radius: 8px;
}
.row.global-shopping-topp-small-box-exx-paddng {
    padding: 1px 12px 2px 25px;
}
.global-shopping-topp-small-box-hed-txt {
    margin-bottom: -6px;
}
.row.single-boxx-rro-global-shopping-item-bbox {
    margin-bottom: 6px;
}
.gloobal-shopping-item-web-single-item-price-txt {
    background-color: rgba(255, 82, 51,.65);
    width: 89%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 20px;
}
.gloobal-shopping-item-web-single-item-price-txt h4 {
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding: 2px;
    line-height: 16px;
}
.gloobal-shopping-item-web-single-item-img {
    position: relative;
}
.gloobal-shopping-item-web-single-item-price-txt {
    position: absolute;
    bottom: -1px;
}
.gloobal-shopping-item-web-single-item-img img:hover {
    opacity: .70;
    transition: .3s;
}
.col-md-3.exxpadd-global-shop-banr {
    padding: 0px 2px 0px 2px;
}
.row.single-boxx-rro-global-shopping-item-bbox .col-md-6 {
    padding: 0px 3px 0px 3px;
}

.globa-shoppingg-banner-immgg-section img {
    width: 100%;
    height: 304px;
    border-radius: 8px;
}
.globa-shoppingg-banner-immgg-section img:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: .3s;
}