
.latest-blogg-web-com-webversion-main-sectionx {
    margin-top: 14px;
}
.latest-blog-wev-wexv-dot-main-sec-bboxx-web-version {
    border-radius: 7px;
    padding: 0px;
}
.latest-blog-wev-wexv-dot-main-sec-bboxx-web-version a {
    text-decoration: none;
}
.latest-blogg-web-com-webversion-main-sectionx .container {
    padding: 10px;
}

/* hhhh */
.latest-blog-web-dott-ccm-dealmmnnff-bb-web-verrsn p {
    font-size: 16px;
    font-weight: 500;
    color: #5D616D;
}
.latest-blog-web-dott-ccm-dealmmnnff-bb-web-verrsn p {
    position: relative;
    margin-left: 3px;
}
.latest-blog-web-dott-ccm-dealmmnnff-bb-web-verrsn {
    margin-bottom: -15px !important;
}


.latest-blog-web-dott-ccm-dealmmnnff-bb-web-verrsn p span img {
    width: 40px;
}
/* hhhh */
.row.latest-bllog-wb-com-delproj-rww-webb-versnn .col-md-4 {
    padding: 5px;
}
.row.latest-bllog-wb-com-delproj-rww-webb-versnn {
    margin: 0;
    margin-top: -10px;
}

.lattest-blog-web-ddot-cmm-snnggl-prodct-web-vvesnn:hover {
    transition: .3s;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
}
.lattest-blog-web-ddot-cmm-snnggl-prodct-web-vvesnn {
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    border-radius: 4px;
    padding: 10px;
}
.latesst-blogg-ddot-cmm-snnggl-prodct-web-vvesnn-img img {
    width: 100%;
    height: 174px;
    padding: 3px;
    border-radius: 7px;
}
.latesst-blogg-ddot-cmm-snnggl-prodct-web-vvesnn-img img:hover {
    opacity: .70;
    transition: .2s;
}
.latesst-bblog-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt h3 {
    font-size: 15px;
    color: #FF6347;
    font-weight: 600;
}

.latesst-bblog-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt p {
    font-size: 12px;
    color: #5D616D;
    line-height: 17px;
    margin-top: 7px;
    margin-bottom: 6px;
}
.latesst-bblog-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt {
    padding: 3px;
    margin-top: -5px;
}
.latesst-bblog-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt h4 {
    font-size: 15px;
    color: #5D616D;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 7px;
}
.latesst-bblog-web-ddot-date-sec p {
    color: #B4BACB;
    font-size: 10px;
    margin-top: 8px;
}
.latesst-bblog-web-ddot-date-sec p span {
    margin-left: 10px;
}

.latesst-bblog-web-ddot-date-sec {
    position: relative;
}
.latest-blog-read-mmor-txt-web-vvrsn h3 {
    position: absolute;
    right: 4px;
    top: 3px;
}
.latest-blog-read-mmor-txt-web-vvrsn h3 {
    color: #9A9FAD;
    font-size: 12px;
    font-weight: 500;
}
.latest-blog-read-mmor-txt-web-vvrsn h3 span i.fas {
    background-color: #B4BACB;
    color: #fff;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    margin-left: 2px;
}

.lattest-blog-web-ddot-cmm-snnggl-prodct-web-vvesnn:hover .latest-blog-read-mmor-txt-web-vvrsn h3 span i.fas {
    color: #fff;
    transition: .2s;
    background-color: #FF6347;
}
.lattest-blog-web-ddot-cmm-snnggl-prodct-web-vvesnn:hover .latest-blog-read-mmor-txt-web-vvrsn h3 {
    color: #FF6347;
    transition: .2s;
}
