
.hotcategoryy-com-webversion-main-sectionx {
    margin-top: 14px;
}
.hot-categoryy-wexv-dot-main-sec-bboxx-web-version {
    border-radius: 7px;
    padding: 9px;
}
.hot-categoryy-wexv-dot-main-sec-bboxx-web-version a {
    text-decoration: none;
}

/* hhhh */
.hot-cattgory-dott-ccm-dealmmnnff-bb-web-verrsn p {
    font-size: 16px;
    font-weight: 500;
    color: #5D616D;
}
.hot-cattgory-dott-ccm-dealmmnnff-bb-web-verrsn p {
    position: relative;
    margin-left: -5px;
    margin-bottom: 23px;
}
.hot-cattgory-dott-ccm-dealmmnnff-bb-web-verrsn {
    margin-bottom: -15px !important;
}
.hot-cattgory-dott-ccm-dealmmnnff-bb-web-verrsn p span img {
    width: 40px;
}
/* hhhh */

.hot-categoory-banner-image-section img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
}
.hot-categoory-banner-image-section img:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: .3s;
}
.hot-categoory-single-banneer-secc img {
    width: 100%;
    height: 110px;
    border-radius: 8px;
}
.hot-categoory-single-banneer-secc img:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    opacity: .70;
    transition: .3s;
}
.hot-categoory-single-banneer-secc {
    position: relative;
}
.hot-category-category-nnamsam-web-txt h4 {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 16px;
    color: #444750;
}
.hotcategoryy-com-webversion-main-sectionx .container {
    padding: 7px;
}
.row.hott-categorry-extra-ro-padd {
    margin-bottom: 10px;
}
.row.hott-categorry-extra-ro-padd .col-md-6 {
    margin: 0px;
    padding: 0px 8px 0px 5px;
}
.row.hott-categorry-extra-ro-padd-lefft-sec .col-md-4 {
    margin: 0px;
    padding-right: 8px;
}
.row.hott-categorry-extra-ro-padd-lefft-sec .col-md-8 {
    padding: 0px 21px 0px 14px;
}