
.top-bbrands-com-webversion-main-sectionx {
    margin-top: 14px;
}
.top-bbrands-com-webversion-main-sectionx {
    border-radius: 7px;
    padding: 0px;
}
.top-bbrands-com-webversion-main-sectionx a {
    text-decoration: none;
}
.top-bbrands-com-webversion-main-sectionx .container {
    padding: 10px;
}

/* hhhh */
.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn p {
    font-size: 16px;
    font-weight: 500;
    color: #5D616D;
}
.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn p {
    position: relative;
    margin-left: 3px;
}
.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn a {
    position: absolute;
    right: 28px;
    top: 18px;
    font-size: 14px;
    color: #B4BACB;
    font-weight: 500;
    text-decoration: none;
}
.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn a:hover {
    color: #FF6347;
    transition: .2s;
}
.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn a:hover i.fa {
    color: #fff;
    transition: .2s;
    background-color: #FF6347;;
}
.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn a i.fa {
    color: #fff;
    font-size: 11px;
    background-color: #B4BACB;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    text-align: center;
    line-height: 15px;
}
.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn {
    margin-bottom: -15px !important;
}

.top-brannsxds-dott-ccm-dealmmnnff-bb-web-verrsn p span img {
    width: 40px;
}
/* hhhh */

.row.top-brandds-com-delproj-rww-webb-versnn .col-md-2 {
    padding: 5px;
}

.row.top-brandds-com-delproj-rww-webb-versnn {
    margin: 0;
    margin-top: -10px;
}
.topp-brandds-web-ddot-cmm-snnggl-prodct-web-vvesnn:hover {
    transition: .3s;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
}
.topp-brandds-web-ddot-cmm-snnggl-prodct-web-vvesnn {
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    border-radius: 4px;
    padding: 2px;
}

.top-brandd-ddot-cmm-snnggl-prodct-web-vvesnn-img img {
    width: 100%;
    height: 80px;
    padding: 12px;
}
.top-brandd-ddot-cmm-snnggl-prodct-web-vvesnn-big-img img {
    width: 100%;
    height: 115px;
    padding: 5px;
    border: 1px solid #ececec;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.top-brandd-ddot-cmm-snnggl-prodct-web-vvesnn-big-img {
    padding: 5px 10px 5px 10px;
}
.top-brandd-ddot-cmm-snnggl-prodct-web-txt p {
    text-align: center;
    background-color: #F4F4F5;
    margin: 0px;
    padding: 0;
    font-size: 13px;
    color: #9A9FAD;
    border: 1px solid #e6e6e6;
    border-radius: 17px;
    padding: 1px 5px 1px 5px;
}
.top-brandd-ddot-cmm-snnggl-prodct-web-txt p:hover {
    background-color: #e8e8e8;
    transition: .3s;
}
.top-brandd-ddot-cmm-snnggl-prodct-web-txt {
    width: 55%;
}
.top-brandd-ddot-cmm-snnggl-prodct-web-txt {
    margin-bottom: 10px;
    margin-top: 5px;
}
