
.new-arrivall-com-webversion-main-sectionx {
    margin-top: 14px;
}
.new-arrivallx-wexv-dot-main-sec-bboxx-web-version {
    background: #ffffff;
    border-radius: 7px;
    padding: 9px;
}

/* hhhh */
.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn p {
    font-size: 16px;
    font-weight: 500;
    color: #5D616D;
}
.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn p {
    position: relative;
    margin-left: 7px;
}
.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn a {
    position: absolute;
    right: 28px;
    top: 18px;
    font-size: 14px;
    color: #B4BACB;
    font-weight: 500;
    text-decoration: none;
}
.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn a:hover {
    color: #FF6347;
    transition: .2s;
}
.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn a:hover i.fa {
    color: #fff;
    transition: .2s;
    background-color: #FF6347;;
}
.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn a i.fa {
    color: #fff;
    font-size: 11px;
    background-color: #B4BACB;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    text-align: center;
    line-height: 15px;
}
.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn {
    margin-bottom: -15px !important;
}


.new-arrivval-dott-ccm-dealmmnnff-bb-web-verrsn p span img {
    width: 40px;
}
/* hhhh */

.new-arrivallx-wexv-dot-main-sec-bboxx-web-version a {
    text-decoration: none;
}
.row.new-arrivval-com-delproj-rww-webb-versnn .col-md-2 {
    padding: 2px;
}

.row.new-arrivval-com-delproj-rww-webb-versnn {
    margin: 0;
    margin-top: -10px;
}
/* .new-arrivvall-web-ddot-cmm-snnggl-prodct-web-vvesnn:hover {
    transition: .3s;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
} */
.new-arrivallx-wexv-dot-main-sec-bboxx-web-version:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: .2s;
}
.new-arrivvall-web-ddot-cmm-snnggl-prodct-web-vvesnn {
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    border-radius: 4px;
    padding: 2px;
}
.new-arrivl-ddot-cmm-snnggl-prodct-web-vvesnn-img img {
    width: 100%;
    height: 174px;
    padding: 3px;
    border-radius: 7px;
}
.new-arrivl-ddot-cmm-snnggl-prodct-web-vvesnn-img img:hover {
    opacity: .70;
    transition: .2s;
}
.new-arrivl-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt h3 {
    font-size: 15px;
    color: #FF6347;
    font-weight: 600;
}

.new-arrivl-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt p {
    font-size: 12px;
    color: #9A9FAD;
    line-height: 17px;
    margin-top: 7px;
    margin-bottom: 6px;
}
.new-arrivl-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt {
    padding: 3px;
    margin-top: -5px;
}
