/* Secure text sec start */
/* Timeline start */
.my-cart-wv-secure-timeline-section-bbox h4 {
    color: #5D616D;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}
.my-cart-wv-secure-timeline-section-bbox {
    border-bottom: 2px solid #E0E4F0;
    padding-bottom: 4px;
    width: 78%;
}
.my-cart-wv-secure-timeline-section-bbox {
    position: relative;
}
.my-cart-wv-secure-timeline-section-bordr {
    position: absolute;
    border: 2px solid #FF6347;
    width: 90px;
    bottom: -3px;
}
.my-cart-wv-secure-timeline-section-bordr.proceedto-pay-congrat {
    position: absolute;
    border: 2px solid #FF6347;
    width: 96%;
    bottom: -3px;
}
p.my-cart-shoppingg-cart-icon-tzxt {
    color: #ff6347 !important;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul li {
    display: inline-block;
    width: 25%;
}
.my-cart-wv-secure-timeline-section-bbox-color-box {
    width: 99%;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul li .my-cart-shoppingg-cart-icon-bbggg {
    background-color: #E0E4F0;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 14px;
    border-radius: 50px;
    line-height: 37px;
}
.my-cart-shoppingg-cart-icon-bbggg.shoppinf-color {
    background-color: #FF6347!important;
}
.my-cart-wv-secure-timeline-section-timeline-sec {
    position: relative;
    margin-top: 40px;
}
.my-cart-wv-secure-timeline-section-bbox-color-box {
    position: absolute;
    top: -13px;
    left: -5px;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul li p {
    font-size: 14px;
    margin-left: -120px;
    margin-top: 13px;
    color: #B4BACB;
}
/* Timeline end */
/* Secure text sec end ---------------- */

/* Image Part */
.my-cart-wv-shoppingcart-order-congratulation-cong-mainx-bx {
    box-shadow: 0 3px 8px rgba(0,0,0,.08);
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
}
.my-cart-wv-shoppingcart-order-congratulation-banner-img-sec img {
    width: 45%;
    margin-left: 20%;
}
/* Image Part */

.my-cart-wv-shoppingcart-order-congratulation-con-shop-btn {
    margin-top: 35px;
    margin-bottom: 32px;
}
.my-cart-wv-shoppingcart-order-congratulation-con-shop-btn a {
    text-decoration: none;
    background-color: #FF6347;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 30px 7px 30px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgb(249 145 127);
}
.my-cart-wv-shoppingcart-order-congratulation-con-shop-btn a:hover {
    background-color: #fb401e;
    transition: .2s;
}
.my-cart-wv-shoppingcart-order-congratulation-cong-txt h3 {
    font-size: 22px;
    font-weight: 600;
    color: #FF6347;
    margin-top: 23px;
}
.my-cart-wv-shoppingcart-order-congratulation-cong-txt p {
    font-size: 13px;
    color: #5D616D;
    margin-bottom: -20px;
    line-height: 22px;
}