
.more-to-love-all-products-com-webversion-main-sectionx {
    margin-top: 14px;
}
.more-to-love-all-produc-wexv-dot-main-sec-bboxx-web-version {
    border-radius: 7px;
    padding: 0px;
}
.more-to-love-all-produc-wexv-dot-main-sec-bboxx-web-version a {
    text-decoration: none;
}
.more-to-love-all-products-com-webversion-main-sectionx .container {
    padding: 10px;
}

/* hhhh */
.more-to-love-all-produc-dott-ccm-dealmmnnff-bb-web-verrsn p {
    font-size: 16px;
    font-weight: 500;
    color: #5D616D;
}
.more-to-love-all-produc-dott-ccm-dealmmnnff-bb-web-verrsn p {
    position: relative;
    margin-left: 3px;
}
.more-to-love-all-produc-dott-ccm-dealmmnnff-bb-web-verrsn {
    margin-bottom: -15px !important;
}


.more-to-love-all-produc-dott-ccm-dealmmnnff-bb-web-verrsn p span img {
    width: 40px;
}
/* hhhh */
.row.more-to-love-all-produc-com-delproj-rww-webb-versnn .col-md-2 {
    padding: 5px;
}

.row.more-to-love-all-produc-com-delproj-rww-webb-versnn {
    margin: 0;
    margin-top: -10px;
}
.more-to-love-all-produc-web-ddot-cmm-snnggl-prodct-web-vvesnn:hover {
    transition: .3s;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
}
.more-to-love-all-produc-web-ddot-cmm-snnggl-prodct-web-vvesnn {
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    border-radius: 4px;
    padding: 2px;
}
.more-to-love-all-produc-ddot-cmm-snnggl-prodct-web-vvesnn-img img {
    width: 100%;
    height: 174px;
    padding: 3px;
    border-radius: 7px;
}
.more-to-love-all-produc-ddot-cmm-snnggl-prodct-web-vvesnn-img img:hover {
    opacity: .70;
    transition: .2s;
}
.more-to-love-all-produc-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt h3 {
    font-size: 15px;
    color: #FF6347;
    font-weight: 600;
}

.more-to-love-all-produc-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt p {
    font-size: 12px;
    color: #9A9FAD;
    line-height: 17px;
    margin-top: 7px;
    margin-bottom: 6px;
}
.more-to-love-all-produc-web-ddot-cmm-snnggl-prodct-web-vvrsn-ttxt {
    padding: 3px;
    margin-top: -5px;
}
.row.more-to-love-all-produc-com-delproj-rww-webb-versnn {
    margin-bottom: 8px;
}

/* View More Button */
.moreto-love-web-version-view-more-btn button {
    background-color: #FF6347;
    border: none;
    border-radius: 35px;
    padding: 5px 35px 5px 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    box-shadow: 0 0px 5px rgba(255, 103, 77,.8);
}
.moreto-love-web-version-view-more-btn button span {
    margin-left: 5px;
}
.moreto-love-web-version-view-more-btn button:hover {
    background-color: #f94322;
    transition: .3s;
}
.moreto-love-web-version-view-more-btn {
    margin-top: 18px;
    margin-bottom: 15px;
}
/* View More Button */

