/* Invoice Barcode and logo section start */
.obd-all-order-details-dashboard-main-section-left-box-main {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
    margin-bottom: 50px;
}
.row.obd-all-order-details-dashboard-main-section-roww {
    margin-top: 18px;
}
.obd-all-order-details-dashboard-main-section-left-logo-and-inv-bx-contnt h5 {
    font-size: 13px;
    color: #5D616D;
    font-weight: 600;
}
.obd-all-order-details-dashboard-main-section-left-logo-and-inv-bx-contnt h5 span {
    color: #909090;
    font-weight: 400;
}
.obd-all-order-details-dashboard-main-section-left-logo-and-inv-bx-contnt img {
    width: 180px;
    height: 65px;
    margin-top: 5px;
}
.obd-all-order-details-dashboard-main-section-left-logo-and-inv-bx-contnt h2 {
    color: #FF6347;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.obd-all-order-details-dashboard-main-section-left-logo-and-inv-bx-contnt p {
    color: #5D616D;
    font-size: 14px;
    margin-top: -3px;
    margin-bottom: 3px;
}
.obd-all-order-details-dashboard-mainsc-left-logo-and-datex-bx-contnt ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.obd-all-order-details-dashboard-mainsc-left-logo-and-datex-bx-contnt ul li {
    display: inline-block;
    margin-left: 15px;
    font-size: 13px;
    color: #5D616D;
    font-weight: 600;
}
.obd-all-order-details-dashboard-mainsc-left-logo-and-datex-bx-contnt ul li span {
    color: #909090;
    font-weight: 400;
    margin-left: 2px;
}
.obd-all-order-details-dashboard-mainsc-left-logo-and-datex-bx-contnt img {
    width: 40%;
    margin-top: 79px;
}
.obd-all-order-details-dashboard-main-section-left-logo-and-inv-bx {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
/* Invoice Barcode and logo section end */

/* Bill From and Ship To Section Start */
.obd-all-order-details-dashboard-main-section-left-bill-from-shipto-bx {
    margin-top: 20px;
}
.obd-all-order-details-dashboard-main-section-left-bill-from-bbx h3 {
    color: #464951;
    font-size: 16px;
    font-weight: 600;
}
.obd-all-order-details-dashboard-main-section-left-bill-from-bbx h5 {
    color: #7D7F85;
    font-size: 14px;
    font-weight: 400;
}
.obd-all-order-details-dashboard-main-section-left-bill-from-bbx p {
    color: #7D7F85;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
}
.obd-all-order-details-dashboard-main-section-left-bill-from-bbx h6 {
    color: #7D7F85;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
}
.obd-all-order-details-dashboard-main-section-left-ship-to-bbx h3 {
    color: #464951;
    font-size: 16px;
    font-weight: 600;
}
.obd-all-order-details-dashboard-main-section-left-ship-to-bbx h5 {
    color: #7D7F85;
    font-size: 13px;
    font-weight: 400;
}
.obd-all-order-details-dashboard-main-section-left-ship-to-bbx p {
    color: #7D7F85;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
}
.obd-all-order-details-dashboard-main-section-left-ship-to-bbx h6 {
    color: #7D7F85;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
}
/* Bill From and Ship To Section End -----*/

/* Table Image Item Start */
.obd-all-order-details-dashboard-main-section-left-table-main-box {
    margin-top: 30px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}
.obd-all-order-details-dashboard-main-section-left-table-main-box table thead {
    border: none !important;
    background-color: #EFF1F7;
    color: #5D616D;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
}
.obd-all-order-details-dashboard-main-section-left-table-main-box table {
    border-top-right-radius: 8px;
    border: none;
}
.obd-all-order-details-dashboard-main-section-left-table-main-box table thead tr {
    border: none;
    border-top-right-radius: 8px;
}
.obd-all-order-details-dashboard-main-section-left-table-main-box table tbody tr:hover {
    background-color: #f7f7f7;
    transition: .2s;
}
.obd-all-order-details-dashboard-main-section-left-table-main-box table thead tr th {
    border: none;
    font-weight: 500;
    font-size: 13px;
}
.obd-all-order-details-dashboard-main-section-left-table-main-box table tbody tr td {
    border: none;
    border-bottom: none;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 13px;
    text-align: center;
    color: #5D616D;
    font-weight: 400;
    line-height: 70px;
}
.obd-all-order-details-dashboard-mn-section-left-table-img-it img {
    width: 97%;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
}
.obd-all-order-details-dashboard-mn-section-left-table-it-txt h5 {
    font-size: 13px;
    color: #7D7F85;
    font-weight: 400;
    margin-top: 28px;
}
.row.obd-all-order-details-dashboard-mn-section-left-exx-pdd-nn .col-md-10 {
    margin: 0px;
    padding-left: 12px;
}
.row.obd-all-order-details-dashboard-mn-section-left-exx-pdd-nn .col-md-2 {
    padding-left: 10px;
}
/* Table Image Item End ---------- */


/* Right Payment send edit invoice print button box start------ */
.obd-all-order-details-dashboard-main-section-right-box-mn {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
}
.row.obd-all-order-details-dashboard-main-section-roww .col-md-3 {
    padding-left: 6px;
}

.obd-all-order-details-dashboard-main-section-right-box-send-inv-btn button {
    background-color: #FF6347;
    border: none;
    border-radius: 8px;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 14px;
    width: 90%;
    margin-bottom: 14px;
}
.obd-all-order-details-dashboard-main-section-right-box-send-inv-btn button:hover {
    background-color: #fd4726;
    transition: .2s;
}
.obd-all-order-details-dashboard-main-section-right-box-send-inv-btn button span {
    margin-right: 5px;
    font-size: 12px;
}
.obd-all-order-details-dashboard-main-section-right-box-printt-btn button {
    background-color: #FFEEEB;
    border: none;
    border-radius: 8px;
    outline: none;
    height: 35px;
    color: #FF6347;
    font-size: 14px;
    width: 90%;
    margin-bottom: 14px;
}
.obd-all-order-details-dashboard-main-section-right-box-printt-btn button:hover {
    background-color: #f9c7be;
    transition: .2s;
}

.obd-all-order-details-dashboard-main-section-right-box-printt-btn button span {
    margin-right: 5px;
    font-size: 14px;
}


.obd-all-order-details-dashboard-main-section-right-box-edit-inv-btn {
    background-color: #FFEEEB;
    width: 90%;
    border-radius: 8px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 14px;
}
.obd-all-order-details-dashboard-main-section-right-box-edit-inv-btn a {
    color: #FF6347;
    font-size: 14px;
    text-decoration: none;
    display: block;
}
.obd-all-order-details-dashboard-main-section-right-box-edit-inv-btn:hover {
    transition: .2s;
    background-color: #fdcfc6;
}
.obd-all-order-details-dashboard-main-section-right-box-edit-inv-btn a span {
    margin-right: 5px;
    font-size: 14px;
}



.obd-all-order-details-dashboard-main-section-right-box-add-pmnt-btn button {
    background-color: #52E378;
    border: none;
    border-radius: 8px;
    outline: none;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    width: 90%;
    margin-bottom: 24px;
}
.obd-all-order-details-dashboard-main-section-right-box-add-pmnt-btn button:hover {
    transition: .2s;
    background-color: #10dd46;
}
.obd-all-order-details-dashboard-main-section-right-box-add-pmnt-btn button span {
    margin-right: 5px;
    font-size: 14px;
}
/* Right Payment send edit invoice print button box end------ */

/* Total Count Ptice Section start */
.obd-all-order-details-dashboard-main-section-left-table-ttl-countmn-hd h4 {
    font-size: 13px;
    color: #67636d;
}
.obd-all-order-details-dashboard-main-section-left-table-total-count-main-box {
    margin-top: 28px;
}
.obd-all-order-details-dashboard-main-section-left-table-total-count-price-main-box {
    background-color: #EEF0F6;
    border-radius: 12px;
    padding: 22px 24px 22px 24px;
}
.obd-all-order-details-dashboard-main-section-left-table-total-count-price-mn-cnt {
    position: relative;
    margin-bottom: 12px;
}
.obd-all-order-details-dashboard-main-section-left-table-total-count-price-mn-cnt h4 {
    color: #7D7F85;
    font-size: 13px;
}
span.obd-all-order-details-dashboard-main-section-left-price-abb-txt h3 {
    position: absolute;
    right: 3px;
    top: 1px;
    font-size: 14px;
    font-weight: 500;
    color: #464951;
}
.obd-all-order-details-dashboard-main-section-left-table-total-count-price-mn-cnt.delvry-crg-brdr {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 6px;
}
.obd-all-order-details-dashboard-main-section-left-table-total-count-price-mn-cnt.balance-color-txt h4 {
    color: #FF6347 !important;
}
.obd-all-order-details-dashboard-main-section-left-table-total-count-price-mn-cnt.balance-color-txt h3 {
    color: #FF6347 !important;
}
/* Total Count Ptice Section end */